<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title mdl-color-text--red">FEFWMEGA</span>
    </div>
    <div class="mdl-layout__drawer-button">
      <i class="material-icons">menu</i>
    </div>
  </header>

  <div class="mdl-layout__content">
    <div class="ffmg-page-content">

      <div class="ffmg-deck-row" ng-repeat="tiles in main.game.cards">
        <ng-repeat class="ffmg-deck-cell"
                   ng-style="main.cardStyle"
                   ng-repeat="tile in tiles"
                   ng-click="main.flipTile(main.game, $parent.$index, $index)">
          <div class="ffmg-card-wrapper">
            <div class="ffmg-card" ng-class="{flipped: (tile['flipped'] || tile['picked'])}">
              <figure class="ffmg-card--back">
                <img
                  ng-src="{{ main.getCardPicture(tile['value']) }}"/>
              </figure>
              <figure class="ffmg-card--front">
                <img src="assets/images/card-bg.png"/>

              </figure>
            </div>
          </div>
        </ng-repeat>
      </div>
    </div>
  </div>

</div>
